.wrapper {
    width: 100px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disable {
        opacity: 0.5;
        pointer-events: none;
        border: none;
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    align-items: center;
    width: 20px;
    text-align: center;
}

// Button Type
.rounded {
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0 6px;
    font-size: 2.2rem;
    background-color: rgba(22, 24, 35, 0.06);
}

.text {
    width: fit-content;
    height: auto;
    padding: 0;
    &:hover {
        text-decoration: underline;
    }
}

// Button Size
.small {
    width: 88px;
    height: 28px;
    padding: 0 10px;
}

.large {
    width: 164px;
    height: 48px;
}

.exlarge {
    width: 208px;
}

// Custom button
.outline-grey {
    border-color: rgba(22, 24, 35, 0.12);

    span {
        height: 20px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.hashtag {
    margin-left: 0 !important;
    padding: 0;
}

.modal-btn {
    width: 100%;
    height: 44px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 16px 0 !important;
    padding: 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: flex-start;
    justify-content: flex-start;
    word-break: keep-all;
    white-space: nowrap;
    color: var(--text-color);
    background: rgb(255, 255, 255);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0px;
    cursor: pointer;
    position: relative;

    & > .title {
        flex: 1;
        margin: 0;
        text-align: center;
    }
}

.modal-signup {
    margin-left: 5px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--primary);
}

.forgot-btn {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}

.login-btn {
    width: 100%;
    min-width: 120px;
    min-height: 46px;
    margin: 21px 0 0 !important;
    padding: 6px 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 4px;
    color: var(--white);
    background-color: rgb(254, 44, 85);
    user-select: none;
    cursor: pointer;
    position: relative;
}

.upload-btn {
    width: 200px;
    margin-top: 32px;

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
