.wrapper {
    width: 100px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disable {
        opacity: 0.5;
        pointer-events: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

// Button Type
.rounded {
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    width: fit-content;
    height: auto;
    padding: 0;
    &:hover {
        text-decoration: underline;
    }
}

// Button Size
.small {
    width: 88px;
    height: 28px;
    padding: 0 10px;
}

.large {
    width: 164px;
}

.exlarge {
    width: 208px;
}

// Custom button
.outline-grey {
    border-color: rgba(22, 24, 35, 0.12);

    span {
        height: 20px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.hashtag {
    margin-left: 0 !important;
    padding: 0;
}
