.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    padding-top: var(--default-layout-header-height);
}
